*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: #ffffff;
}

a {
    outline: none;
    text-decoration: none;
    transition: 0.3s;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.grid-title {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 30px 0 15px 0;
}

.grid-title:first-child {
    margin-top: 15px;
}

.grid-title h2 {
    font-size: 35px;
    font-weight: 800;
    color: #757575;
}

/* -------------- Product Grid Style --------------- */
.product-grid {
    display: flex;
    flex-flow: row wrap;
}

.product-grid .product-item {
    width: 25%;
    padding: 15px;
}

@media (max-width: 992px) {
    .product-grid .product-item {
        width: 33.33%;
    }
}

@media (max-width: 768px) {
    .product-grid .product-item {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .product-grid .product-item {
        width: 100%;
    }
}

.product-grid .product-single {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-grid .product-img,
.product-grid .product-content {
    position: relative;
    width: 100%;
    background: #000000;
    overflow: hidden;
}

.product-grid .product-img img {
    display: block;
    width: 100%;
    transition: .3s;
}
